.dropdown-menu {
  width: 200px;
  position: absolute;
  list-style: none;
  text-align: start;
  right:20px;
  /* bottom: 35px; */
  top: -20px;
  margin: 0;
  padding: 0;
  /* vertical-align: top; */
}

.dropdown-menu li {
  background: lightgray;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: #5cabff;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}
