*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    background-color: aqua;
    font-family: Arial;
}

h1 {
    text-align: center;
}

.form-container {
    display: grid;
    margin-right: auto;
    margin-left: auto;
    max-width: 350px;
}

.form-action {
    grid-column: 1/ span 2;
    display: flex;
    justify-content: center;
}

#emails-consent {
    grid-column: 1/ span 2;
    display: flex;
    justify-content: space-around;
}

form {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 1rem;
}

.footer_menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: left;
    padding: 5rem;
    margin: 0;
}

@media only screen and (max-width: 640px) {

    .form-container {
        display: grid;
        grid-template-columns: auto;
    }

    label,
    input,
    .form-action,
    #email-consent {
        grid-column: span 2;
    }


}